.App {
  text-align: center;
}
body{
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.square-board{
  width: 100%;
  height:100%;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;  
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.lv1{
  grid-template-columns: fit-content(100%) fit-content(100%);
}
.lv2,.lv3{
  grid-template-columns: repeat(3,fit-content(100%));
}
.lv4,.lv5{
  grid-template-columns: repeat(4,fit-content(100%));
}
#time{
  text-align: center;
  margin-bottom:15px;
  font-weight: bold;
  font-size: 1.5em;
}
#square-board-container{
  display: flex;
  width: auto;
  height:auto;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#card{
  text-align: center;
  background-color:black;
  width:auto;
  padding:40px 40px;
  height:auto;
  border-radius: 20px;
  animation-name: rollup;
  animation-duration: 1s;
}
.icon{
  width:40px;
  height:100%;
  padding:0 5px
}
.game-page{
  animation-name: page;
  animation-duration:2s ;
}
#pre-timer{
  animation-name: count;
  animation-duration:1s ;
  font-size: 5em;
}
#back-btn{
  width:50px;
  height:50px;
  position:absolute;
  top:0;
  left:0;
  padding:70px 70px
}
#reset-btn{
  width:30px;
  height:30px;
  padding-top:20px;
}
#homepage h1{
  position: absolute;
  top:0;
  left:0;
  padding: 0.2em 0.5em;
  font-size: 3em;
  letter-spacing: 2px;
  font-weight: 500;
  color: pink;
  font-style: italic;
}
@media (max-width:900px){
   
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rollup{
  from{
    transform: translateY(-500px);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes page{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes count{
  from{
    transform: translateZ(0);
  }
  to{
    transform: translateZ(-500px);
  }
}