.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.square-board{
  width: 100%;
  height:100%;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;  
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.lv1{
  grid-template-columns: fit-content(100%) fit-content(100%);
}
.lv2,.lv3{
  grid-template-columns: repeat(3,fit-content(100%));
}
.lv4,.lv5{
  grid-template-columns: repeat(4,fit-content(100%));
}
#time{
  text-align: center;
}
#square-board-container{
  display: flex;
  width: auto;
  height:auto;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#card{
  text-align: center;
  background-color:black;
  width:auto;
  padding:50px 50px;
  height:auto;
  border-radius: 10px;
}
.icon{
  width:30px;
  height:30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
